<div id='split_match' class='col-xs-8 col-xs-offset-2'>
  <h3>Split Match</h3>
  <div class="row">
    <ul id="top_syls">
      <!-- ng-show="{{syl.use}}" -->
      <li class="col-xs-2 col-xs-offset-1" ng-repeat="syl in rhymer.syls" ng-show="syl.use">{{ syl.text }}</li>
    </ul>
  </div>
  <ul>
    <div class="row">
      <li class="col-xs-2 col-xs-offset-1" ng-repeat="rhymeArr in rhymer.splitRhymes" class='col-xs-2'>
        <span ng-hide="rhymeArr != false">Word Not Found</span>
        <ul ng-hide="rhymeArr == false">
          <li class="split_singles" ng-repeat='rhyme in rhymeArr'>{{ rhyme }}</li>
        </ul>
      </li>
    </div>
  </ul>
</div>