body {
  background-color: #F0F0F7;
}

ul {
  list-style: none;
}

li {
  text-align: center;
}

#complete_match {
  margin-top: 20px;
  background-color: #3E9CFA;
  border-radius: 10px;
}

#complete_match ul {
  border-radius: 10px;
}

#complete_match ul li {
  display: inline-block;
  padding: 5px;
  margin: 7px 14px;
  background-color: orange;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 3px 5px 5px black;
}

#split_match {
  margin-top: 10px;
  background-color: red;
  border-radius: 10px;
}

#top_syls {
  font-size: 40px;
}

#top_syls li {
  font-weight: bold;
}

.split_singles {
  font-size: 25px;
}

.one_split {
  margin-left: -55px;
}

.two_split {
  margin-left: -40px;
}

.three_split {
  margin-left: -35px;
}

.four_split {
  margin-left: -39px;
}

.five_split {
  margin-left: -35px;
}

.six_split {
  margin-left: -40px;
}

.jumbotron {
  background-color: #3E9CFA;
}

#syl_select {
  height: 15%;
}


#syl_select ul li {
  padding: 8px;
  background-color: white;
  border-radius: 40px;
  box-shadow: 3px 7px 5px black;
}

#syl_select ul {
  height: 100%;
  text-align: center;
  padding: 0;
}

#syl_select ul li {
  height: 100%;
  font-weight: bold;
  display: inline;
  margin: 5 30;
}

#pron_list {
  list-style: none;
  text-align: center;
}

#pron_list li {
  height: 100%;
  font: 25px arial;
  margin: 5px 10px;
  border: dotted black 1px;
  display: inline;
}

.use {
  font: 50px arial;
  color: #33E863;
  line-height: 200%;
}

.dont {
  font: 40px 'times new roman';
  color: #F52020;
}

#vert_pad_20 {
  height: 20%;
}

#vert_pad_5 {
  height: 5%;
}

.input-group {
  border: none;
}